.gpt4__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt4__brand div {
    flex: 1;
    max-width: 7.5rem;
    min-width: 9.3rem;
    margin: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}